{% extends 'web/basic.html'%}

{% block title %} Humanity Hack {% endblock %}

{% load static %}
{% block body %}
<div class="main_container">
    <div class="content">
        <div class="opport">Explore the Opportunity</div>
        <div class="limit">Be Limitless</div>
        <div class="desc-info"><span>Corporate Givers</span>bridges the gap between corporations and civic engagement, connecting
            working individuals to service and volunteering
            opportunities that both match their schedules and bring them closer to their community</div>

        <div class="buttons">
            <a href="/sign"><button class="join-btn">Join Now</button></a>
            <button class="explore-btn">Explore Now</button>
        </div>
    </div>
    <div class="images">
        <img src="{% static 'img/optapalnnerbanner.png' %}" alt="">
    </div>
</div>
{% endblock %}